* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font-size*/
  font-size: 62.5%;

  /*Font-family*/
  font-family: "Alice", serif;

  /*Color*/
  color: #573a37;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;

  font-size: 1.6rem;
  line-height: 150%;
}

#page {
  width: 80rem;
  padding: 2.4rem;
  background-color: #f0e8c2;
  border-radius: 2.4rem;
  margin: 4.8rem auto;
}

main {
  padding: 2.4rem;
}

section + section {
  margin-top: 2.4rem;
}

#about p + p {
  margin-top: 1.2rem;
}

h1 {
  line-height: 140%;
  font-size: 4rem;
}

h2 {
  font-size: 2.4rem;
}

h1,
h2 {
  color: #291b1a;

  margin-bottom: 0.4rem;
  line-height: 150%;
}

ul {
  padding-left: 2.4rem;
}
