* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Font-size*/
  font-size: 62.5%;
}

body {
  background-image: url(./assets/bg.jpg);
  background-size: cover;
}

#page {
  width: 80rem;
  padding: 2.4rem;
  background-color: #f0e8c2;
  border-radius: 2.4rem;
  margin: 4.8rem auto;
}
